html {
  font-size: 100%;
}

body {
  margin: 0;
}

.slider__home {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  margin: 0 auto;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  -ms-grid-rows: auto 10px auto;
      grid-template-areas: "header" "main";
}

.slider__img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

.footer > .slider__img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.slider__text {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: main;
}

.footer > .slider__text {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.footer {
  display: -ms-grid;
  display: grid;
  text-align: center;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  grid-gap: 12px;
  -ms-grid-rows: auto 12px auto 12px auto 12px auto;
      grid-template-areas: "header" "main" "section" "footer";
}
.footer__nav__container {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}
.footer > .footer__nav__container {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.footer__nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  grid-gap: 12px;
}

.newsletter {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  display: -ms-grid;
  display: grid;
  grid-area: main;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-columns: 290, 8px;
  grid-template-columns: 290, 8px;
}

.footer > .newsletter {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.container--right {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: section;
}

.legal-pag__container {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: footer;
}

@media only screen and (min-width: 800px) {
  .slider__home {
    -ms-grid-columns: 1fr 24px 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: justify;
        align-content: space-between;
        grid-template-areas: "main  header ";
  }

  .footer {
    text-align: left;
    -ms-grid-columns: 1fr 36px 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 36px;
    -ms-grid-rows: auto 36px auto 36px auto;
        grid-template-areas: "header header" "main section" "footer footer";
  }
  .footer__nav__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 200px 200px;
    grid-template-columns: 200px 200px;
        grid-template-areas: "nav1 nav2";
  }
  .footer .shop--nav {
    grid-area: nav1;
  }
  .footer .about--nav {
    grid-area: nav2;
  }

  .newsletter {
    display: -ms-grid;
    display: grid;
    -ms-grid-column-align: start;
        justify-self: start;
    -ms-grid-columns: 248px 6px 109px;
    grid-template-columns: 248px 109px;
    -ms-grid-rows: 1fr 6px 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 6px;
        grid-template-areas: "text text" "form button";
  }
  .newsletter__text {
    grid-area: text;
  }
  .newsletter__email {
    grid-area: form;
  }
  .newsletter__button {
    grid-area: button;
  }
  .slider__img {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }

  .footer > .slider__img {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  .slider__text {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .footer > .slider__text {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .footer__nav__container {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }

  .footer > .footer__nav__container {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  .newsletter {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .footer > .newsletter {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  .container--right {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }

  .legal-pag__container {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
}

@media only screen and (min-width: 800px) {

  .newsletter__text {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }

  .newsletter__email {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  .newsletter__button {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
}

@media only screen and (min-width: 800px) {
  .footer .shop--nav {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .footer .about--nav {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
}
.logo_desktop {
  margin: 12px;
}

.slider__img {
  width: 60vw;
  margin: 0 auto;
  margin: 0 auto;
}

.product-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 4px;
}

.upcycling--img {
  width: 100%;
  height: 100%;
}

.threeR__img {
  width: 240px;
  margin: 0 auto;
  padding: 24px;
  padding-top: 60px;
}

.products--image {
  width: 80vw;
  margin-top: 60px;
  max-width: 350px;
}

@media all and (min-width: 600px) {
  .slider__img {
    width: 359px;
  }

  .header__logo {
    margin: 24px;
  }

  .about__slider__img {
    width: 25vw;
    margin: 24px;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }

  .threeR__img {
    width: 472px;
    padding-left: 0px;
  }

  .products--image {
    width: 400px;
    max-width: 1070px;
  }
}
@media all and (min-width: 800px) {
  .upcycling--img {
    width: 30vw;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
:root {
  --swiper-pagination-color: white;
  --swiper-navigation-size:36px ;
}

.swiper__home {
  width: 100%;
  height: 75vh;
}

.mySwiper {
  margin-top: 30px;
  padding: 0px 0px;
  overflow: hidden;
  width: 88%;
  z-index: 0;
}

.container__slide {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.slider__about {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 365px;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  text-align: center;
}

.about__slider__img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.swiper-button-next {
  color: #0099A8;
}

@media all and (min-width: 600px) {
  .swiper__home {
    width: 95%;
    height: 100%;
    max-width: 1070px;
  }

  .swiperAbout {
    max-width: 1070px;
  }
}
.newletter__email {
  padding: 6px;
  margin: 12px;
}

@media all and (min-width: 600px) {
  .newletter__email {
    width: 222px;
  }
}
.button--main {
  border-width: 3px;
  border-radius: 6px;
  border-color: #c0d000;
  border-style: solid;
  color: #c0d000;
}
.button--main:hover {
  background-color: #c0d000;
  color: #4F4F4F;
}

.newletter__button {
  background-color: #4F4F4F;
  padding: 6px;
  margin: 12px;
}

.main__filter {
  background-color: #E6E9E9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 85%;
  margin: 0 auto;
}

.filter {
  background-color: #E6E9E9;
  color: #0099A8;
  border-style: none;
  padding: 6px;
  width: 84px;
  height: 31px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  /*.float{
  	position:fixed;
  	width:60px;
  	height:60px;
  	bottom:40px;
  	right:40px;
  	background-color:#0C9;
  	color:#FFF;
  	border-radius:50px;
  	text-align:center;
  	box-shadow: 2px 2px 3px #999;
  }

  .my-float{
  	margin-top:22px;
  }*/
}
.filter:hover {
  background-color: #0099A8;
  color: #FFFFFF;
}

.products__button {
  background-color: #0099A8;
  font-weight: 600;
  font-size: 18px;
  padding: 12px;
  margin: 12px;
  width: 162px;
  text-align: center;
}

@media all and (min-width: 600px) {
  .newsletter__button {
    width: 100%;
    margin: 24px;
  }

  .main__filter {
    width: 75%;
  }

  .products__button {
    width: 310px;
  }
}
@media all and (min-width: 800px) {
  .filter {
    padding: 24px;
    font-size: 18px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.header__nav {
  font-family: "Raleway", sans-serif;
  font-size: 14;
  font-weight: 400;
  color: #FFFFFF;
  text-align: right;
}

.footer__nav {
  font-family: "Special Elite";
  font-size: 18px;
  color: #FFFFFF;
  padding-top: 24px;
}

.legal-pag {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF;
}
.legal-pag:hover {
  color: #c0d000;
}

.slider__title--home {
  font-family: "Special Elite";
  font-size: 24;
  color: #FFFFFF;
  text-align: center;
  margin: 12px;
}
.slider__description {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF;
  width: 75vw;
  margin: 0px auto;
  padding: 6px;
}
.slider__quest {
  font-family: "Special Elite";
  font-size: 18px;
  color: #4F4F4F;
  margin: 12px;
  text-align: center;
}

.title-page {
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  font-weight: 600;
  color: #0099A8;
  margin: 0;
  padding-top: 24px;
}

.subtitle-page {
  font-family: "Special Elite";
  font-size: 18px;
  color: #c0d000;
  margin: 0;
}

.text-top {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #4F4F4F;
  text-align: center;
  width: 70vw;
  padding-bottom: 60px;
}

.final-claim {
  font-family: "Special Elite";
  font-size: 24px;
  color: #4F4F4F;
  width: 70vw;
  margin: 0 auto;
  padding: 60px 0;
}

.newsletter__text {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF;
  width: 70vw;
}

.about-us p:last-child {
  padding-bottom: 12px;
}
.about-us__text {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #4F4F4F;
  margin: auto;
  padding-right: 36px;
  padding-top: 12px;
}

.title {
  font-family: "Special Elite";
  font-size: 24px;
  color: #c0d000;
  text-align: center;
  margin-top: 48px;
}

.upcycling__text {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF;
  margin: 0 auto;
  padding: 6px;
  width: 80%;
}
.upcycling__text:last-child {
  padding-bottom: 48px;
}

.text {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #4F4F4F;
  margin: 0 auto;
  padding: 12px;
}

.threeR__title {
  font-family: "Special Elite";
  font-size: 24px;
  color: #c0d000;
  text-align: center;
  margin-bottom: 0px;
}

.Rs__title {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #0099A8;
  margin: 0px;
  padding-top: 24px;
  padding-left: 12px;
}

.title__slider {
  font-family: "Special Elite";
  font-size: 18px;
  color: #0099A8;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.products--name {
  font-family: "Special Elite";
  font-size: 24px;
  color: #0099A8;
}
.products--price {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #FFFFFF;
}
.products--description {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF;
}

@media all and (min-width: 600px) {
  .slider__title {
    font-size: 48px;
  }

  .slider__description {
    font-size: 18px;
    width: 30vw;
    margin-left: 24px;
  }

  .slider__quest {
    font-size: 24px;
  }

  .title-page {
    font-size: 64px;
    padding-top: 144px;
  }

  .subtitle-page {
    font-size: 36px;
  }

  .text-top {
    font-size: 24px;
    margin-bottom: 144px;
  }

  .newsletter__text {
    font-size: 18px;
    width: 100%;
    -ms-grid-column-align: start;
        justify-self: start;
    margin-left: 12px;
  }

  .about-us__text {
    font-size: 14px;
  }

  .title {
    font-size: 36px;
  }

  .text {
    font-size: 18px;
  }

  .title__slider {
    font-size: 24px;
    margin-left: 36px;
  }

  .products--name {
    font-family: "Special Elite";
    font-size: 24px;
    color: #0099A8;
  }
  .products--price {
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #FFFFFF;
  }
  .products--description {
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
  }
}
@media all and (min-width: 800px) {
  .text-top {
    width: 40vw;
  }

  .final-claim {
    font-size: 36px;
    width: 70%;
  }

  .threeR__title {
    font-size: 36px;
    padding: 12px;
    text-align: left;
  }
  .threeR__text {
    width: 472px;
  }

  .Rs__title {
    padding-top: 0px;
  }
}
.header__home {
  background-color: #0099A8;
  width: 100%;
}

@media only screen and (min-width: 800px) {
  .header__home {
    height: 40vw;
  }
}
.table__img {
  max-width: 100%;
  display: block;
}

.product-img {
  margin: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr auto;
  grid-template-rows: 1fr auto;
  margin-bottom: 12px;
  -webkit-column-break-inside: avoid;
     -moz-column-break-inside: avoid;
          break-inside: avoid;
}

.product-img > img {
  grid-row: 1/-1;
  -ms-grid-column: 1;
  grid-column: 1;
}

.father-grid {
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 6px;
     -moz-column-gap: 6px;
          column-gap: 6px;
  margin: 60px 6vw;
}

.main__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__final-claim {
  background-color: #E6E9E9;
  text-align: center;
  padding: 30px 15px 25px 15px;
  width: 100%;
}

.main__about {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-us {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80vw;
  margin-top: 60px;
  margin-bottom: 60px;
}

.upcycling {
  background-color: #4F4F4F;
  width: 90vw;
}

.threeR {
  width: 80vw;
}
.threeR__container--img {
  position: relative;
}
.threeR__container--img::before {
  content: "";
  position: absolute;
  top: 150px;
  left: 128px;
  right: -150vw;
  bottom: -130vh;
  background-color: #E6E9E9;
  z-index: -1;
}

.Rs {
  padding: 0px;
  margin: 24px;
}
.Rs__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 24px;
}
.Rs__arrow {
  width: 1em;
  height: 1em;
  font-size: 3em;
  margin: 0 auto;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  max-width: 350px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.prueba {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0099A8;
}

@media all and (min-width: 600px) {
  .about-us {
    width: 70vw;
  }

  .father-grid {
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3;
    -webkit-column-gap: 12px;
       -moz-column-gap: 12px;
            column-gap: 12px;
    margin-left: 12vw;
    margin-right: 12vw;
  }

  .products {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 1070px;
  }
  .products__text {
    margin-left: 36px;
  }
  .products__text--background::before {
    position: absolute;
    bottom: 23vh;
    top: 20vh;
    left: 60%;
    z-index: -1;
  }
}
@media all and (min-width: 800px) {
  .main__about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: wrap;
            flex-direction: wrap;
    max-width: 1070px;
    margin: 0 auto;
  }

  .about-us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 144px;
    max-width: 1070px;
  }

  .upcycling {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 1070px;
  }

  .threeR {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-top: 144px;
    margin-bottom: 144px;
    width: 1070px;
  }
  .threeR__container--text {
    margin-right: 60px;
  }
  .threeR__container--img {
    position: relative;
  }
  .threeR__container--img::before {
    content: "";
    position: absolute;
    top: 180px;
    left: 200px;
    right: -20vw;
    bottom: -30vh;
    background-color: #E6E9E9;
    z-index: -1;
  }

  .Rs {
    padding: 0px;
    margin: 0px;
  }
  .Rs__group {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: 60px;
  }
  .Rs__arrow {
    font-size: 8em;
    margin: 0 auto;
  }
}
.menu {
  position: absolute;
  right: -100px;
  top: -100px;
  z-index: 100;
  width: 200px;
  height: 200px;
  background: #FFF;
  border-radius: 50% 50% 50% 50%;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
          box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
  cursor: pointer;
}

.hamburger {
  position: absolute;
  top: 135px;
  left: 50px;
  width: 30px;
  height: 2px;
  background: #0099A8;
  display: block;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.hamburger:after, .hamburger:before {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #0099A8;
}

.hamburger:before {
  top: -10px;
}

.hamburger:after {
  bottom: -10px;
}

label input {
  display: none;
}

label input:checked + .menu {
  -webkit-box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF;
          box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF;
  border-radius: 0;
}

label input:checked + .menu .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

label input:checked + .menu .hamburger:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  bottom: 0;
}

label input:checked + .menu .hamburger:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
}

label input:checked + .menu + ul {
  opacity: 1;
}

label ul {
  z-index: 200;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: 0.25s 0s ease-in-out;
  transition: 0.25s 0s ease-in-out;
}

label a {
  margin-bottom: 1em;
  display: block;
  text-decoration: none;
  font-family: "Special Elite";
  font-size: 24px;
  color: #0099A8;
}

.turquoise__menu {
  position: absolute;
  right: -100px;
  top: -100px;
  z-index: 100;
  width: 200px;
  height: 200px;
  background: #0099A8;
  border-radius: 50% 50% 50% 50%;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
          box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
}

.turquoise__hamburger {
  position: absolute;
  top: 135px;
  left: 50px;
  width: 30px;
  height: 2px;
  background: #FFFFFF;
  display: block;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.turquoise__hamburger:after, .turquoise__hamburger:before {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
}

.turquoise__hamburger:before {
  top: -10px;
}

.turquoise__hamburger:after {
  bottom: -10px;
}

label input {
  display: none;
}

label input:checked + .turquoise__menu {
  -webkit-box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF;
          box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF;
  background-color: #FFFFFF;
}

label input:checked + .turquoise__menu .turquoise__hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #0099A8;
}

label input:checked + .turquoise__menu .turquoise__hamburger:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  bottom: 0;
  background-color: #0099A8;
}

label input:checked + .turquoise__menu .turquoise__hamburger:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
}

label input:checked + .turquoise__menu + ul {
  opacity: 1;
}

.footer {
  background-color: #4F4F4F;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__logo {
  width: 99px;
  padding-top: 24px;
}

.newsletter__email {
  width: 100%;
  padding: 12px;
  color: #E6E9E9;
}

.legal-pag__container {
  padding: 12px;
}

.rrss {
  display: inline-block;
  color: #FFFFFF;
  width: 1em;
  height: 1em;
  font-size: 1.5em;
  margin-top: 12px;
}

@media all and (min-width: 600px) {
  .footer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__logo {
    width: 171px;
  }
  .footer__nav__container {
    padding: 24px;
    margin-left: 144px;
  }

  .container--right {
    text-align: center;
  }

  .newsletter {
    margin-left: 144px;
  }
  .newsletter__email {
    width: 100%;
  }

  .legal-pag__container {
    padding: 12px;
    margin-left: 144px;
  }

  .rrss {
    color: #FFFFFF;
    width: 1em;
    height: 1em;
    font-size: 1.5em;
    margin-top: 12px;
  }
}