html {
  font-size: 100%;
}

.grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  margin: 0 auto;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  -ms-grid-rows: auto 10px auto 10px auto;
      grid-template-areas: "header" "section" "main";
}

.about-us__text {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: main;
}
.about-us__img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

.upcycling__img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

.title {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: section;
}

.text {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: main;
}

.threeR__img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

@media only screen and (min-width: 800px) {
  .grid {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    -ms-grid-rows: auto 20px auto;
        grid-template-areas: "header   main " "header   main";
  }

  .upcycling {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "section   header " "main      header";
  }

  .threeR {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "header   section " "header   main";
  }
  .about-us__text {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 3;
  }

  .upcycling > .about-us__text {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
  }

  .threeR > .about-us__text {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
  }
  .about-us__img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
  }

  .upcycling > .about-us__img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
  }

  .threeR > .about-us__img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
  }
  .upcycling__img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
  }

  .upcycling > .upcycling__img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
  }

  .threeR > .upcycling__img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
  }

  .upcycling > .title {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .threeR > .title {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .text {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 3;
  }

  .upcycling > .text {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
  }

  .threeR > .text {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
  }
  .threeR__img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
  }

  .upcycling > .threeR__img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
  }

  .threeR > .threeR__img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
  }
}
.slider__img {
  width: 60vw;
}

.product-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

.about-us__img {
  width: 100%;
}

.upcycling__img {
  width: 344px;
  margin: 0 auto;
  padding: 24px;
}

.threeR__img {
  width: 344px;
  margin: 0 auto;
  padding: 24px;
}

.swiper {
  width: 100%;
  height: 500px;
}
.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.newletter__email {
  width: 50vw;
  padding: 6px;
}

.newletter__button {
  border-width: 3px;
  border-radius: 6px;
  border-color: #BBEC00;
  color: #BBEC00;
  background-color: #4F4F4F;
  width: 50vw;
  padding: 6px;
}
.newletter__button:hover {
  background-color: #BBEC00;
  color: #4F4F4F;
}

.main__filter {
  text-align: center;
}

.filter {
  background-color: #FFFFFF;
  color: #BBEC00;
  border-radius: 6px;
  border-color: #BBEC00;
  padding: 6px;
  width: 84px;
  height: 31px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.filter:hover {
  background-color: #BBEC00;
  color: #FFFFFF;
}

.header__nav {
  font-family: "Raleway", sans-serif;
  font-size: 14;
  font-weight: 400;
  color: #FFFFFF;
  text-align: right;
}

.footer__nav {
  font-family: "Special Elite";
  font-size: 18px;
  color: #FFFFFF;
  padding-top: 24px;
}

.legal-pag {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF;
}
.legal-pag:hover {
  color: #BBEC00;
}

.slider__title {
  font-family: "Special Elite";
  font-size: 24;
  color: #FFFFFF;
  text-align: center;
  margin: 12px;
}

.slider__description {
  font-family: "Raleway", sans-serif;
  font-size: 14;
  font-weight: 400;
  color: #FFFFFF;
  width: 75vw;
  margin: 0px;
  padding: 6px;
}

.slider__quest {
  font-family: "Special Elite";
  font-size: 18;
  color: #4F4F4F;
  margin: 12px;
  text-align: center;
}

.title-page {
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  font-weight: 600;
  color: #0099A8;
  margin: 0;
  padding-top: 24px;
}

.subtitle-page {
  font-family: "Special Elite";
  font-size: 18px;
  color: #BBEC00;
  margin: 0;
}

.text-top {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #4F4F4F;
  text-justify: center;
  width: 70vw;
}

.newsletter__text {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF;
  width: 70vw;
  margin: 24px 12px;
}

.about-us__text {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF;
  margin: auto;
  padding: 36px;
}

.title {
  font-family: "Special Elite";
  font-size: 24px;
  color: #4F4F4F;
  text-align: center;
  margin-bottom: 0px;
}

.text {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #4F4F4F;
  padding: 36px;
  margin: 0 auto;
}

br {
  padding: 12px;
}

.r__title {
  font-family: "Special Elite";
  font-size: 14;
  color: #0099A8;
  text-align: center;
  margin: 0px;
}

.r__container {
  border-color: #BBEC00;
  border-width: 36px;
}

.header__home {
  background-color: #0099A8;
  width: 100%;
  height: 550px;
}

.main__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-us {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #4F4F4F;
  width: 90vw;
}

.footer {
  background-color: #4F4F4F;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__logo {
  width: 99px;
  padding: 24px;
}
.footer__nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.newsletter__email {
  width: 100%;
  padding: 6px;
  color: #F2F2F2;
}

.legal-pag__container {
  padding: 12px;
}