html {
  font-size: 100%;
}

body {
  margin: 0;
}

.swiper-slide {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  margin: 0 auto;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  -ms-grid-rows: auto 10px auto;
      grid-template-areas: "header" "main";
}

.slider__img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

.footer > .slider__img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.grid > .slider__img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.slider__text {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: main;
}

.footer > .slider__text {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.grid > .slider__text {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.footer {
  display: -ms-grid;
  display: grid;
  text-align: center;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  grid-gap: 12px;
  -ms-grid-rows: auto 12px auto 12px auto 12px auto;
      grid-template-areas: "header" "main" "section" "footer";
}
.footer__nav__container {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}
.footer > .footer__nav__container {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.grid > .footer__nav__container {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.footer__nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  grid-gap: 12px;
}

.newsletter {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  display: -ms-grid;
  display: grid;
  grid-area: main;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-columns: 290, 8px;
  grid-template-columns: 290, 8px;
}

.footer > .newsletter {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.grid > .newsletter {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.container--right {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: section;
}

.grid > .container--right {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.legal-pag__container {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: footer;
}

.grid {
  display: -ms-grid;
  display: grid;
  width: 70vw;
  margin: 0 auto;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  -ms-grid-rows: auto 10px auto 10px auto;
      grid-template-areas: "header" "section" "main";
}

.about-us__text {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: main;
}

.footer > .about-us__text {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.grid > .about-us__text {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}
.about-us__img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}
.footer > .about-us__img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.grid > .about-us__img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.upcycling__img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

.footer > .upcycling__img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.grid > .upcycling__img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.title {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: section;
}

.grid > .title {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.text {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: main;
  -ms-grid-column-align: start;
      justify-self: start;
}

.footer > .text {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.grid > .text {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.threeR__img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

.footer > .threeR__img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.grid > .threeR__img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

@media only screen and (min-width: 800px) {
  .swiper-slide {
    -ms-grid-columns: 1fr 24px 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
        grid-template-areas: "main  header ";
  }

  .footer {
    text-align: left;
    -ms-grid-columns: 1fr 36px 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 36px;
    -ms-grid-rows: auto 36px auto 36px auto;
        grid-template-areas: "header header" "main section" "footer footer";
  }
  .footer__nav__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 200px 200px;
    grid-template-columns: 200px 200px;
        grid-template-areas: "nav1 nav2";
  }
  .footer .shop--nav {
    grid-area: nav1;
  }
  .footer .about--nav {
    grid-area: nav2;
  }

  .newsletter {
    display: -ms-grid;
    display: grid;
    -ms-grid-column-align: start;
        justify-self: start;
    -ms-grid-columns: 248px 6px 109px;
    grid-template-columns: 248px 109px;
    -ms-grid-rows: 1fr 6px 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 6px;
        grid-template-areas: "text text" "form button";
  }
  .newsletter__text {
    grid-area: text;
  }
  .newsletter__email {
    grid-area: form;
  }
  .newsletter__button {
    grid-area: button;
  }

  .grid {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
        grid-template-areas: "header   main ";
  }

  .upcycling {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 500px 100px;
    grid-template-columns: 500px 100px;
        grid-template-areas: "section   header " "main      header";
  }

  .threeR {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "header   section " "header   main";
  }
  .slider__img {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }

  .footer > .slider__img {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }

  .grid > .slider__img {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }

  .upcycling > .slider__img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
  }

  .threeR > .slider__img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
  .slider__text {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .footer > .slider__text {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  .grid > .slider__text {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }

  .upcycling > .slider__text {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  .threeR > .slider__text {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .footer__nav__container {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }

  .footer > .footer__nav__container {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }

  .grid > .footer__nav__container {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }

  .upcycling > .footer__nav__container {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
  }

  .threeR > .footer__nav__container {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
  .newsletter {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .footer > .newsletter {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  .grid > .newsletter {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }

  .upcycling > .newsletter {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  .threeR > .newsletter {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }

  .container--right {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }

  .upcycling > .container--right {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .threeR > .container--right {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }

  .legal-pag__container {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  .about-us__text {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .footer > .about-us__text {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  .grid > .about-us__text {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }

  .upcycling > .about-us__text {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  .threeR > .about-us__text {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .about-us__img {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }

  .footer > .about-us__img {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }

  .grid > .about-us__img {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }

  .upcycling > .about-us__img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
  }

  .threeR > .about-us__img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
  .upcycling__img {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }

  .footer > .upcycling__img {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }

  .grid > .upcycling__img {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }

  .upcycling > .upcycling__img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
  }

  .threeR > .upcycling__img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }

  .title {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }

  .upcycling > .title {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .threeR > .title {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .text {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .footer > .text {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  .grid > .text {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }

  .upcycling > .text {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  .threeR > .text {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .threeR__img {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }

  .footer > .threeR__img {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }

  .grid > .threeR__img {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }

  .upcycling > .threeR__img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
  }

  .threeR > .threeR__img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
}

@media only screen and (min-width: 800px) {

  .newsletter__text {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }

  .newsletter__email {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  .newsletter__button {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
}

@media only screen and (min-width: 800px) {
  .footer .shop--nav {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .footer .about--nav {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
}
.logo_desktop {
  margin: 12px;
}

.slider__img {
  width: 60vw;
  margin: 0 auto;
  margin: 0 auto;
}

.product-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 4px;
}

.about-us__img {
  width: 100%;
}

.upcycling__img {
  width: 344px;
  margin: 0 auto;
  padding: 24px;
}

.threeR__img {
  width: 344px;
  margin: 0 auto;
  padding: 24px;
}

@media all and (min-width: 600px) {
  .slider__img {
    width: 359px;
  }

  .header__logo {
    margin: 24px;
  }

  .upcycling__img {
    width: 444px;
  }

  .about__slider__img {
    width: 25vw;
    margin: 24px;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}
:root {
  --swiper-pagination-color: white;
}

.swiper {
  width: 100%;
  height: 75vh;
}

.swiperAbout .mySwiper {
  width: 50%;
  height: 50%;
}

.container__slider {
  text-align: center;
}

.container__slider div {
  display: block;
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media all and (min-width: 600px) {
  .swiper {
    width: 100%;
    height: 50vh;
  }
}
.newletter__email {
  padding: 6px;
  margin: 12px;
}

@media all and (min-width: 600px) {
  .newletter__email {
    width: 222px;
  }
}
.newletter__button {
  border-width: 3px;
  border-radius: 6px;
  border-color: #BBEC00;
  border-style: solid;
  color: #BBEC00;
  background-color: #4F4F4F;
  padding: 6px;
  margin: 12px;
}
.newletter__button:hover {
  background-color: #BBEC00;
  color: #4F4F4F;
}

.main__filter {
  text-align: center;
}

.filter {
  background-color: #FFFFFF;
  color: #0099A8;
  border-radius: 6px;
  border: none;
  padding: 6px;
  width: 84px;
  height: 31px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 2px 2px 1px #F2F2F2;
          box-shadow: 2px 2px 1px #F2F2F2;
  /*.float{
  	position:fixed;
  	width:60px;
  	height:60px;
  	bottom:40px;
  	right:40px;
  	background-color:#0C9;
  	color:#FFF;
  	border-radius:50px;
  	text-align:center;
  	box-shadow: 2px 2px 3px #999;
  }

  .my-float{
  	margin-top:22px;
  }*/
}
.filter:hover {
  background-color: #0099A8;
  color: #FFFFFF;
}

@media all and (min-width: 600px) {
  .newsletter__button {
    width: 100%;
    margin: 24px;
  }
}
@media all and (min-width: 800px) {
  .filter {
    padding: 24px;
    width: 144px;
    height: 48px;
    font-size: 18px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.header__nav {
  font-family: "Raleway", sans-serif;
  font-size: 14;
  font-weight: 400;
  color: #FFFFFF;
  text-align: right;
}

.footer__nav {
  font-family: "Special Elite";
  font-size: 18px;
  color: #FFFFFF;
  padding-top: 24px;
}

.legal-pag {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF;
}
.legal-pag:hover {
  color: #BBEC00;
}

.slider__title {
  font-family: "Special Elite";
  font-size: 24;
  color: #FFFFFF;
  text-align: center;
  margin: 12px;
}

.slider__description {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF;
  width: 75vw;
  margin: 0px auto;
  padding: 6px;
}

.slider__quest {
  font-family: "Special Elite";
  font-size: 18px;
  color: #4F4F4F;
  margin: 12px;
  text-align: center;
}

.title-page {
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  font-weight: 600;
  color: #0099A8;
  margin: 0;
  padding-top: 24px;
}

.subtitle-page {
  font-family: "Special Elite";
  font-size: 18px;
  color: #BBEC00;
  margin: 0;
}

.text-top {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #4F4F4F;
  text-align: center;
  width: 70vw;
}

.newsletter__text {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF;
  width: 70vw;
}

.about-us__text {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF;
  margin: auto;
  padding: 36px;
}

.title {
  font-family: "Special Elite";
  font-size: 24px;
  color: #4F4F4F;
  text-align: center;
  margin-bottom: 0px;
}

.text {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #4F4F4F;
  margin: 0 auto;
}

br {
  padding: 12px;
}

.r__title {
  font-family: "Special Elite";
  font-size: 14px;
  color: #0099A8;
  text-align: center;
  margin: 0px;
}

.r__container {
  border-color: #BBEC00;
  border-width: 36px;
}

@media all and (min-width: 600px) {
  .slider__title {
    font-family: "Special Elite";
    font-size: 48px;
    color: #FFFFFF;
    text-align: center;
    margin: 12px;
  }

  .slider__description {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    width: 30vw;
    margin-left: 24px;
  }

  .slider__quest {
    font-family: "Special Elite";
    font-size: 24px;
    color: #4F4F4F;
    margin: 12px;
    text-align: center;
  }

  .title-page {
    font-family: "Raleway", sans-serif;
    font-size: 64px;
    font-weight: 600;
    color: #0099A8;
    margin: 0;
    padding-top: 144px;
  }

  .subtitle-page {
    font-family: "Special Elite";
    font-size: 36px;
    color: #BBEC00;
    margin: 0;
  }

  .text-top {
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #4F4F4F;
    margin-bottom: 144px;
  }

  .newsletter__text {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    width: 100%;
    -ms-grid-column-align: start;
        justify-self: start;
    margin-left: 12px;
  }

  .about-us__text {
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
    margin: auto;
    padding: 36px;
  }

  .title {
    font-family: "Special Elite";
    font-size: 36px;
    color: #4F4F4F;
    text-align: center;
    margin-bottom: 0px;
  }

  .text {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #4F4F4F;
    margin: 0 auto;
  }

  br {
    padding: 12px;
  }

  .r__title {
    font-family: "Special Elite";
    font-size: 14;
    color: #0099A8;
    text-align: center;
    margin: 0px;
  }

  .r__container {
    border-color: #BBEC00;
    border-width: 36px;
  }
}
@media all and (min-width: 800px) {
  .text-top {
    width: 40vw;
  }
}
.header__home {
  background-color: #0099A8;
  width: 100%;
  height: 90vh;
}

@media only screen and (min-width: 800px) {
  .header__home {
    height: 40vw;
  }
}
.table__img {
  max-width: 100%;
  display: block;
}

.product-img {
  margin: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr auto;
  grid-template-rows: 1fr auto;
  margin-bottom: 12px;
  -webkit-column-break-inside: avoid;
     -moz-column-break-inside: avoid;
          break-inside: avoid;
}

.product-img > img {
  grid-row: 1/-1;
  -ms-grid-column: 1;
  grid-column: 1;
}

.father-grid {
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 6px;
     -moz-column-gap: 6px;
          column-gap: 6px;
  margin-left: 6vw;
  margin-right: 6vw;
  margin-top: 60px;
}

.main__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__about {
  position: relative;
}

.about-us {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #4F4F4F;
  width: 90vw;
}
.about-us::before {
  content: "";
  position: absolute;
  top: 500px;
  left: 0vw;
  right: 0px;
  bottom: 50vh;
  background-color: #0099A8;
  z-index: -1;
}

.r__group {
  border-color: #BBEC00;
  border-style: solid;
}

@media all and (min-width: 600px) {
  .about-us {
    width: 70vw;
  }

  .container__r {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .father-grid {
    -webkit-column-count: 4;
       -moz-column-count: 4;
            column-count: 4;
    -webkit-column-gap: 12px;
       -moz-column-gap: 12px;
            column-gap: 12px;
    margin-left: 12vw;
    margin-right: 12vw;
  }
}
.menu {
  position: absolute;
  right: -100px;
  top: -100px;
  z-index: 100;
  width: 200px;
  height: 200px;
  background: #FFF;
  border-radius: 50% 50% 50% 50%;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
          box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
  cursor: pointer;
}

.hamburger {
  position: absolute;
  top: 135px;
  left: 50px;
  width: 30px;
  height: 2px;
  background: #0099A8;
  display: block;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.hamburger:after, .hamburger:before {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #0099A8;
}

.hamburger:before {
  top: -10px;
}

.hamburger:after {
  bottom: -10px;
}

label input {
  display: none;
}

label input:checked + .menu {
  -webkit-box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF;
          box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF;
  border-radius: 0;
}

label input:checked + .menu .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

label input:checked + .menu .hamburger:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  bottom: 0;
}

label input:checked + .menu .hamburger:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
}

label input:checked + .menu + ul {
  opacity: 1;
}

label ul {
  z-index: 200;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: 0.25s 0s ease-in-out;
  transition: 0.25s 0s ease-in-out;
}

label a {
  margin-bottom: 1em;
  display: block;
  color: #0099A8;
  text-decoration: none;
  font-family: "Special Elite";
  font-size: 24px;
  color: #0099A8;
}

.footer {
  background-color: #4F4F4F;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__logo {
  width: 99px;
  padding-top: 24px;
}

.newsletter__email {
  width: 100%;
  padding: 12px;
  color: #F2F2F2;
}

.legal-pag__container {
  padding: 12px;
}

.rrss {
  display: inline-block;
  color: #FFFFFF;
  width: 1em;
  height: 1em;
  font-size: 1.5em;
  margin-top: 12px;
}

@media all and (min-width: 600px) {
  .footer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__logo {
    width: 171px;
  }
  .footer__nav__container {
    padding: 24px;
  }

  .container--right {
    text-align: center;
  }

  .newsletter__email {
    width: 100%;
  }

  .legal-pag__container {
    padding: 12px;
  }

  .rrss {
    color: #FFFFFF;
    width: 1em;
    height: 1em;
    font-size: 1.5em;
    margin-top: 12px;
  }
}