//-------------> $BUTTONS <-----------------//

//button call to action in slider//






.newletter__button{
    border-width: 3px;
    border-radius: 6px;
    border-color: $color-green;
    color: $color-green;
    background-color: $color-greydark;
    width: 50vw;
    padding: $unit;

    &:hover{
        background-color: $color-green;
        color: $color-greydark;
    }
     
}