//-------------> $BUTTONS <-----------------//

//button call to action in slider//


.button--main{
    border-radius: 6px;
    border: $color-green 3px solid;
    color: $color-green;
    &:hover{
        background-color: $color-green;
        color: $color-greydark;
    }
}



.newletter__button{
    background-color: $color-greydark;
    padding: $unit;
    margin: $space-small;
}

//FILTER//
.main__filter{
   background-color: $color-greylight;
   display: flex;
   justify-content: space-between;
   width: 85%;
   margin: 0 auto;
  
   
   
}
.filter{
    background-color: $color-greylight;
    color:$color-turquoise;
    border-style: none;
    padding: $unit;
    width: 84px;
    height: 31px;
    align-items: center;
    width: 70%;

    &:focus{
        background-color:$color-turquoise ;
        color:$color-white;
    }
    
    
    
}


//PRODUCTS//
.products__button{
    background-color: $color-turquoise;
    font-weight: 600;
    font-size: 18px;
    padding: $space-small;
    margin: $space-small ;
    margin-bottom: $space-medium;
    width: 162px;
    text-align: center;  
}

//CHECKOUT//
.discounts__button{
    background-color: $color-white;
    width: 100%;
    padding: 6px;
}
.payment__button{
    background-color:$color-white;
    padding: $unit;
    width: 100%;
    margin:0 auto;
    font-weight: 600;
}

//BREAK//
@media all and (min-width: 600px){
    .newsletter__button{
        width: 100%;
        margin:$space-medium;
    }
    .main__filter{
        width:75%;
    }
    .products__button{
        width: 310px;
        
    }
}
@media all and (min-width: 800px){
    
    .filter{
        padding: $space-medium;
        font-size: 18px;
        display:inline-flex;
        align-items: center;
        justify-content: center;
       
    }
    .discounts__button{
        background-color: $color-white;
        width: 78px;
    }
    .payment__button{
        width: 60%;
        margin-top: $space-medium;
        padding: $space-small;
    }
    
}