//-------------> $BUTTONS <-----------------//

//button call to action in slider//






.newletter__button{
    border-width: 3px;
    border-radius: 6px;
    border-color: $color-green;
    color: $color-green;
    background-color: $color-greydark;
    width: 70vw;
    padding: $unit;
    
    
}