//------------------> $IMG <--------------------//

//LOGO HEADER//
.logo_desktop{
    margin:$space-small;
}


//SLIDER//
.slider__img{
    width:60vw;
    margin:0 auto;
    margin:0 auto;
    
}

//PRODUCTS IMG//
.product-img {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  

  //ABOUT US//
.about-us__img{
    width: 100%;
}
.upcycling__img{
    width: 100%;
    margin: 0 auto;
}
.threeR__img{
    width: 240px;
    margin: 0 auto;
    padding: $space-medium;
    padding-top: $space-verybig;

    &::before{
        background-color: $color-greylight;
    }
}


//PAGE-PRODUCT//

.products--image{
    width: 200px;
    margin-top: $space-verybig;
   
}

@media all and (min-width: 600px){
    .slider__img{
        width:359px;
        
    }
    .header__logo{
        margin: $space-medium;
    
    }

    //ABOUT US//
    .upcycling__img{
        width: 444px;
    }
    .about__slider__img{
        width: 25vw;
        margin:$space-medium;
        flex-basis: 50%;
    }
}





