//------------------> $IMG <--------------------//

//SLIDER//
.slider__img{
    width:60vw;
    
}
.about-us__img{
    width: 100%;
}
.upcycling__img{
    width: 344px;
    margin: 0 auto;
    padding: $space-medium;
}
.threeR__img{
    width: 344px;
    margin: 0 auto;
    padding: $space-medium;

}