.newletter__email{
    // width: 248px;
    // width: 100%;
    padding:$unit;
    margin:$space-small;
}

//BREAK//
@media all and (min-width: 600px){
    .newletter__email{
        width: 222px;
    }
}