.container__buttons{
    background-color: $color-greylight;
    display: flex;
    margin-top: 20px;
    
    

}
    .open-modal{
        
        display:flex;
        flex-direction: row;
        background-color: $color-greylight;
        color:$color-turquoise;
        border-style: none;
        padding: $unit;
        width: 84px;
        height: 31px;
        justify-content:center;
        align-items: center;
        width: 70%;
      
      &:hover {
        background-color: $color-turquoise;
        color: $color-white;  
      } 
    }

  
  
  .open-modal__input {
    display: none;
  
    &:checked + [aria="dialog"] {
      display: block;
    }
  }
  
  [aria="dialog"] {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index:-1;
  }
  
  .modal{
        color:$color-white;
        position: fixed;
        top: 10px;
        right:20px;
        z-index:2;
        
        &__title{
        color: $color-white;
        text-align: center;
        }
    
        
        &__container {
        display: flex;
        align-items: center;
        flex-direction: column;
        position: fixed;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        max-height: 350px;
        padding: $space-big;
        background-color: turquoise;
        color: $color-greydark;
        overflow-y: auto;
        }
    }
    .row{
      margin: 0 auto;
    }
    .row__input{
      padding: $space-small $space-small;
      background-color:$color-greylight;
      margin: 5px;
      width: 100%;
      border:none;
      line-height: 30px;
    }
    
  //-----------------------> BREAK <--------------------//

  
  