.container__buttons{
    background-color: $color-greylight;
    display: flex;
    margin-top: 20px;
}
    .open-modal{ 
        display:flex;
        flex-direction: row;
        background-color: $color-greylight;
        color:$color-turquoise;
        border-style: none;
        padding: $unit;
        width: 84px;
        height: 31px;
        justify-content:center;
        align-items: center;
        width: 70%;
        font-family: 'Raleway', sans-serif;
        padding: $space-medium;
        z-index: 2;
      
      &:focus{
        background-color: $color-turquoise;
        color: $color-white;  
      }
    }
  .open-modal__input {
    display: none;
  
    &:checked + [aria="dialog"] {
      display: block;
      
    }
  }
  
  [aria="dialog"] {
    display: none;
    
    
  }
  

        
.modal__container {
  position: absolute;
  width: 80%;
  
  // background-color: $color-white;
  color: $color-greydark;
 
}
.modal--order{
  text-align: center;
  max-height: 500px;
  padding: 12px 24px 0px 24px;

}
.modal--data{
  align-items: center;
  flex-direction: column;
  padding: $space-big;
}    
.pricetotal{
  display: flex;
  justify-content: space-between;
 
}   

    
    
  //-----------------------> BREAK <--------------------//

  @media all and ( min-width:800px){
    .modal__container {
      max-width: 900px;
      width: 90%;
      left: 2%;
    }
    .group--product{
      display:flex;
      justify-content: space-between;
    }
    .checkout__detail{
      text-align: end;
    }



  }