//------------------> $SLIDER <---------------------//
:root {
  --swiper-pagination-color: white;
}
.swiper {
    width: 100%;
    height: 75vh;
    
}

//ABOUT US//
.swiper {
    width: 100%;
    height: 100%;
  }

  .about-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .about-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

@media all and (min-width: 600px){
    .swiper {
        width: 100%;
        height: 50vh;
    
        
        
    }
}


 