//------------------> $SLIDER <---------------------//

.swiper {
    width: 100%;
    height: 75vh;
  
}

//ABOUT US//
.swiper {
    width: 100%;
    height: 100%;
  }

  .about-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  }

  .about-slide img {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

@media all and (min-width: 600px){
    .swiper {
        width: 100%;
        height: 50vh;
    
        
        
    }
}


 