//------------------> $SLIDER <---------------------//
:root {
  --swiper-pagination-color: white;
  --swiper-navigation-size:36px
}
.swiper__home {
    width: 100%;
    height: 75vh;

    
}

//ABOUT US//
 .mySwiper {
  margin-top: 30px;
  padding: 0px 0px;
  overflow: hidden;
  width: 88%;
  z-index: 0;
}
.container__slide{
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}
  .slider__about {
    flex-shrink: 0;
    width: 365px;
    
    position: relative;
    transition-property: transform;
    text-align: center;
  }
  .about__slider__img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
  }
  .swiper-button-prev::after{
    color:$color-turquoise;
    display: none;
    
  }
  .swiper-button-next::after{
    color:$color-turquoise;
    display: none;
  }
  
  
 

@media all and (min-width: 600px){
    .swiper__home {
        width: 95%;
        // height: 50vh;
        height: 100%;
        max-width: 1070px;
    }
    .swiperAbout {
        max-width: 1070px;

    }
    
}


 