//-------------------------> $TYPOGRAFY <----------------------------//
.slider{
    &__title--home{
        @include special-elite(24,$color-white);
        text-align: center;
        margin: $space-small;
    }
    &__description{
        @include ralewey(14px, 400, $color-white);
        width: 75vw;
        margin:0px auto;
        padding: $unit;
    }
    &__quest{
        @include special-elite (18px,$color-greydark);
        margin: $space-small;
        text-align: center;
    }
    
}
.politics{
    
    &__title{
        @include special-elite(18,$color-turquoise);
       text-align: center;
       margin-top: $space-verybig;
    }
    &__text{
        @include ralewey (14,400,$color-greydark);
        width: 80%;
        padding: $space-small;
        margin: 0 auto;
        
    }
}


.title-page{
    @include ralewey (36px,600,$color-turquoise);
    margin:0;
    padding-top:$space-medium; 
}
.subtitle-page{
    @include special-elite(18px,$color-green);
    margin:0;
}
.text-top{
    @include ralewey (14px,400,$color-greydark);
    text-align: center;
    width: 70vw;
    padding-bottom: $space-verybig;
}
.final-claim{
    @include special-elite (24px,$color-greydark);
    width: 80vw;
    margin:0 auto;
    padding: $space-big 0;
    
}


.newsletter__text{
    @include ralewey (14px,400,$color-white);
    width: 70vw;
    
}
// ABOUT US//

.about-us{
    p:last-child{
        padding-bottom:$space-small;
    }
    &__text{
        @include ralewey (14px,400,$color-greydark);
        margin:auto;
        padding-right: $space-mediumbig;
        padding-top:$space-small;
    }
}

.title{
    @include special-elite (24px, $color-green);
    text-align: center;
    margin-top: $space-big;
}
.upcycling__text{
    @include ralewey (14px, 400,$color-white);
    margin: 0 auto;
    padding: $unit;
    width: 80%;
    &:last-child{
        padding-bottom: $space-big;
    }

}
.text{
    @include ralewey (14px,400,$color-greydark);
    margin:0 auto;
    padding: $space-small;
}
.threeR__title{
    @include special-elite (24px, $color-green);
    text-align: center;
    margin-bottom:0px;

}
.Rs__title{
    @include ralewey(24px,600,$color-turquoise);
    margin:0px;
    padding-top: $space-medium;
    padding-left: $space-small;
}
.title__slider{
    @include special-elite(18px,$color-turquoise);
    justify-content: left;
}

//PAGE PRODUCT//
.products{
    &--name{
        @include special-elite (24px,$color-turquoise);
        text-align: center
    }
    &--price{
        @include ralewey (24px,600,$color-white);
        text-align: right;
        margin-bottom: 0px;
   
        
    }
    &--detail{
        @include ralewey (14px,400,$color-white);
        padding: $space-small;
        margin:0;

    }
}
//CHECKOUT//
.checkout{
    &__title{
        @include special-elite (18px,$color-turquoise);
    }
    &--name{
        @include ralewey(18px,600,$color-greydark);
    }
    &--price, &--totalprice{
        @include ralewey(14,400, $color-greydark);
    }
}

.total{
    @include ralewey(14,600,$color-greydark);
}


//--------------------------------BREAK-----------------------------------------//
@media all and (min-width: 600px){
        .slider__title{
            font-size:48px;
        }
        .slider__description{
            font-size:18px;
            width: 30vw;
            margin-left: $space-medium;
        }
        .slider__quest{
            font-size:24px;
        }
        
        .title-page{
            font-size:64px;
            padding-top:$unit*24; 
        }
        .subtitle-page{
            font-size:36px;
        }
        .text-top{
            font-size:24px;
            margin-bottom: $unit*24;
        }
        
        .newsletter__text{
            font-size:18px;
            width: 100%;
            justify-self: start;
            margin-left:$space-small;
        }
        // ABOUT US//
    
        .about-us__text{
            font-size:14px;
        }
        
        .title{
           font-size: 36px;
        }
        .text{
            font-size :18px;
        }
        .title__slider{
            font-size:  24px;
            margin-left: $space-mediumbig;
        }

        //PRODUCT//
        .products{
            &--name{
                @include special-elite (48px,$color-turquoise);
                text-align: left;
            }
            &--price{
                @include ralewey (24px,600,$color-white);
                
            }
            &--detail{
                @include ralewey (14px,400,$color-white);
                width: 80%;
            }
        }
        
        
}

@media all and (min-width: 800px){
    .text-top{
        width: 40vw;
    }
    .final-claim{
        font-size: 36px;
        width:50vw;
    }
    .threeR{
        &__title{
            font-size:36px;
            padding:$space-small;
            text-align: left;
        }
        &__text{
            width: 472px;
        }
    }
    .Rs__title{
        padding-top: 0px;
    }
    .checkout__title{
        font-size: 24px;
    }
    .politics__title{
        font-size: 24px;
    }
}
    