//-------------------------> $TYPOGRAFY <----------------------------//
.slider__title{
    @include special-elite(24,$color-white);
}
.slider__description{
    @include ralewey(14, 400, $color-white);
    width: 75vw;
}
.slider__quest{
    @include special-elite (18,$color-greydark);
}

.title-page{
    @include ralewey (36px,600,$color-turquoise);
}
.subtitle-page{
    @include special-elite(18px,$color-green);
}
.text-top{
    @include ralewey (14px,400,$color-greydark);
    text-justify: center;
    width: 70vw;
}

.newsletter__text{
    @include ralewey (14px,400,$color-white);
    width: 70vw;
    margin: 24px 12px;
    
}
// ABOUT US//



.about-us__text{
    @include ralewey (14px,400,$color-white);
    width: 70vw; 
}

.title{
    @include special-elite (24px, $color-greydark);
    justify-content: center;
}
.text{
    @include ralewey (14px,400,$color-greydark);
}

