//-------------------------> $TYPOGRAFY <----------------------------//
.slider__title{
    @include special-elite(24,$color-white);
    text-align: center;
    margin: $space-small;
}
.slider__description{
    @include ralewey(14, 400, $color-white);
    width: 75vw;
    margin:0px;
    padding: $unit;
}
.slider__quest{
    @include special-elite (18,$color-greydark);
    margin: $space-small;
    text-align: center;
}

.title-page{
    @include ralewey (36px,600,$color-turquoise);
    margin:0;
    padding-top:$space-medium; 
}
.subtitle-page{
    @include special-elite(18px,$color-green);
    margin:0;
}
.text-top{
    @include ralewey (14px,400,$color-greydark);
    text-justify: center;
    width: 70vw;
}

.newsletter__text{
    @include ralewey (14px,400,$color-white);
    width: 70vw;
    margin: $space-medium $space-small;
    
}
// ABOUT US//



.about-us__text{
    @include ralewey (14px,400,$color-white);
    margin:auto;
    padding: $space-mediumbig;
}

.title{
    @include special-elite (24px, $color-greydark);
    text-align: center;
    margin-bottom:0px;
}
.text{
    @include ralewey (14px,400,$color-greydark);
    padding:$space-mediumbig;
    margin:0 auto;
}

br{
    padding: $space-small;
}
.r__title{
    @include special-elite(14,$color-turquoise);
    text-align: center;
    margin:0px;
}
.r__container{
    border-color: $color-green;
    border-width: $space-mediumbig;
    }