//--------------->$COLOS<------------//

//Colores Corporativos principales// 
$color-green:#c0b000;
$color-turquoise:#0099A8;

//Color Neutros//

$color-greydark:#4F4F4F;
$color-greylight:#E6E9E9;
$color-white: #FFFFFF;