//--------------->$COLOS<------------//
//Colores Corporativos principales// 
$color-green:#BBEC00;
$color-turquoise:#0099A8;

//Color Neutros//

$color-greydark:#4F4F4F;
$color-greylight:#F2F2F2;
$color-white: #FFFFFF;