//------------> $HOME <----------------//
.header__home{
    background-color:$color-turquoise;
    width: 100%;

}

//--------------> $ABOUT <-------------//



@media only screen and (min-width: 800px) {
    .header__home{
        height: 40vw;
    }
}