//--------------------> $MAIN <-------------------------//
//SHOP//
.main__text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.father-grid{
    display:flex;
    flex:1 1 1 1;
}

//ABOUT US//
.container__main{
    position: relative;
}
.about-us{
    flex-direction: column;
    background-color: $color-greydark;
    width: 90vw;
    

    &::before{
        content: "";
        position: absolute;
        top: 40px;
        bottom: -40px;
        background-color: $color-green;
    }
}


@media all and (min-width: 600px){

    .about-us{
        width: 70vw;
    }

    .container__r{
        display:flex;
    }



}


