//--------------------> $MAIN <-------------------------//
//SHOP//
.table__img {
    max-width: 100%;
    display: block;
  }
  
.product-img {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: $space-small;
    break-inside: avoid;
 }
  
.product-img > img {
    grid-row: 1 / -1;
    grid-column: 1;
}
  
  
.father-grid {
    column-count: 2;
    column-gap: $unit;
    margin-left:6vw;
    margin-right: 6vw;
    margin-top: $space-verybig;
}
.main__text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container__final-claim{
    background-color: $color-greylight;
    text-align: center;
    padding: 30px 15px 25px 15px;
    width: 100%;
}

//ABOUT US//

.main__about{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-us{
    flex-direction: column;
    width: 90vw;
   
   
}

.upcycling{
    background-color: $color-greydark;
    &__text{
        margin:$space-mediumbig;
    }  
}

.threeR{
    max-width: 260px;
    &__container--img{
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: 150px;
            left: 128px;
            right: -150vw;
            bottom: -140vh;
            background-color: $color-greylight;
            z-index: -1;
        }
    }
}    
.Rs{
    
    padding: 0px;
    margin: $space-medium;
    &__group{
        display: flex;
        flex-direction: column;
        margin-bottom:$space-medium ; 
    }
    &__arrow{
        @include icons (3em);
        margin:0 auto;
    }
}



//PAGE PRODUCT//
// .productsText{
//     background-color: $color-turquoise;
//     position: absolute;
//     top: 50vh;
//     width: 326px;
//     height: 326px;
//     left: 40px;
// }
.products{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 90vh;

    &--text{
        background-color: $color-turquoise;
        // position: absolute;
        top: 50vh;
        width: 326px;
        height: 326px;
        left: 40px;
        z-index: -1;

        // &::after{
        //     content:"Hello world1";
        //     background-color: $color-turquoise;
        //     width: 326px;
        //     height: 326px;
        // }
        // &::before{
        //     content: "";
            // background-color: $color-turquoise;
            // width: 326px;
            // height: 326px;
        // }
    }
}

@media all and (min-width: 600px){

    .about-us{
        width: 70vw;
    }

    .father-grid {
        column-count: 4;
        column-gap: $space-small;
        margin-left:12vw;
        margin-right:12vw;
    }

}
@media all and (min-width: 800px){
    //ABOUT US//

.main__about{
    flex-direction: wrap;
}

.about-us{
    display:flex;
    flex-direction: row;
    
}   
.upcycling{
    display:flex;
    flex-direction:row ;
} 
.threeR{
    display:flex;
    max-width:1070px;
    align-items: flex-end;
    &__container--text{
        margin-right: $space-verybig
    }
    &__container--img{
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: 180px;
            left: 200px;
            right: -35vw;
            bottom: -30vh;
            background-color: $color-greylight;
            z-index: -1;
        }
    }
}    
    
.Rs{
    padding: 0px;
    margin:0px;
    

    &__group{
        display: flex;
        
      
    }
}
}


