//--------------------> $MAIN <-------------------------//
//SHOP//
.table__img {
    max-width: 100%;
    display: block;
}
  
.product-img {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: $space-small;
    break-inside: avoid;
}
  
.product-img > img {
    grid-row: 1 / -1;
    grid-column: 1;
}
  
  
.father-grid {
    column-count: 2;
    column-gap: $unit;
    margin: $space-verybig 6vw;
}
.main__text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container__final-claim{
    background-color: $color-greylight;
    text-align: center;
    padding: 30px 15px 25px 15px;
    width: 100%;
}

//ABOUT US//

.main__about{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-us{
    flex-direction: column;
    width: 80vw;
    margin-top: $space-verybig;
    margin-bottom: $space-verybig;
    
   
   
}

.upcycling{
    background-color: $color-greydark;
    width: 90vw; 
}

.threeR{
    width: 80vw;
    &__container--img{
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: 150px;
            left: 128px;
            right: -150vw;
            bottom: -130vh;
            background-color: $color-greylight;
            z-index: -1;
        }
    }
}    
.Rs{
    
    padding: 0px;
    margin: $space-medium;
    &__group{
        display: flex;
        flex-direction: column;
        margin-bottom:$space-medium ; 
    }
    &__arrow{
        @include icons (3em);
        margin:0 auto;
        
    }
}



//PAGE PRODUCT//

.products{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 350px;
    align-items: center;
    
    // &__text{
    //     &--background{
    //         &::before{
    //             content: "";
    //             background-color: $color-turquoise;
    //             position: absolute;
    //             top: 65vh;
    //             left: 10%;
    //             right: 0;
    //             bottom: -20vh;
    //             z-index: -1;
    //         }
            
    //     }
    // }

    
}
.prueba{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-turquoise;
    
}

@media all and (min-width: 600px){

    .about-us{
        width: 70vw;
    }

    .father-grid {
        column-count: 3;
        column-gap: $space-small;
        margin-left:12vw;
        margin-right:12vw;
    }
    .products{
        flex-direction: row;
        margin:0 auto;
        align-items: center;
        max-width: 1070px;
        
        &__text{
            margin-left: $space-mediumbig;
            
            &--background{
                &::before{
                    position: absolute;
                    bottom: 23vh;
                    top:20vh;
                     left:60%;
                    z-index: -1;
                }
    
            }
        }
      
    }
 .prueba{
    
 }
}
@media all and (min-width: 800px){
    //ABOUT US//

.main__about{
    flex-direction: wrap;
    max-width: 1070px;
    margin:0 auto;
}

.about-us{
    display:flex;
    flex-direction: row;
    margin-bottom: $space-medium*6;
    max-width: 1070px;
}   
.upcycling{
    display:flex;
    flex-direction:row ;
    width: 1070px;
    
    
} 
.threeR{
    display:flex;
    align-items: flex-end;
    margin-top: $space-medium*6;
    margin-bottom: $space-medium*6;
    width: 1070px;

    &__container--text{
        margin-right: $space-verybig
    }
    &__container--img{
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: 180px;
            left: 200px;
            right: -20vw;
            bottom: -30vh;
            background-color: $color-greylight;
            z-index: -1;
        }
    }
}    
    
.Rs{
    padding: 0px;
    margin:0px;
    &__group{
        flex-direction: row;
        margin-left: $space-verybig;
    }
    &__arrow{
        font-size:8em;
        margin:0 auto;
        
    }
    
}
}


